<% provide(:title, "Sign up") %>
<div class="container vertical-center">
	
	<h1 class="text-center">Sign up</h1>
	<br>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<%= form_for(@user) do |f| %>
				<%= render 'shared/error_messages' %>
				<%= f.label :name %>
				<%= f.text_field :name, class: 'form-control' %>
				<br>
				<%= f.label :email %>
				<%= f.text_field :email, class: 'form-control' %>
				<br>
				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>
				<br>
				<%= f.label :password_comfirmation, "Confirmation" %>
				<%= f.password_field :password_comfirmation, class: 'form-control' %>
				
				<br>

				<%= f.submit "Create my account", class: "btn btn-primary form-control" %>
			<% end %>
		</div>
	</div>
</div>